#text1 {
    font-weight: regular;
    font-size: 50px;
    font-style:italic;
    font-variant:small-caps;
}

.text {
    width: 50%;
    height: 300px;
    border: 2px solid red;
    overflow-x: hidden;
    overflow-y: scroll;
    resize: both;
}

ul {
    list-style-type:number;
}

ol {
    /* list-style-image: url("../factwithadil.png"); */
}

li {
    border: 2px solid red;
    list-style-position: inside;
}

table {
    border: 1px solid black;
    /* border-collapse:collapse; */
    border-spacing: 5px;
    empty-cells: hide;
    width: 500px;
    table-layout: fixed;
}

th {
    border: 1px solid black;
    margin: 10px;
}

td {
    border: 1px solid black;
    margin: 10px;
}

.pesudoElement::before {
    content: url(../factwithadil.png);
}

img {
    width: 100px;
}

.pesudoElement::after {
    content: "This is dynamically generate text from CSS.";
}

::selection {
    color: red;
    background-color: black;
}

.display {
    border: 2px solid black;
    padding: 10px;
}

.display h1 {
    border: 2px solid red;
    width: 200px;
    height: 200px;
    display: inline-block;
    text-align: center;
    margin: auto;
}

.displayProperties {
    margin: 10px;
    padding: 10px;
    border: 2px dashed red;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 200px;
    width: 500px;
    position: relative;
}

.displayProperties div {
    width: 100px;
    height: 100px;
    margin: 5px;
    display: inline-block;
    border: 2px solid red;
}

#one {
    position: relative;
    /* left: 20px; */
    top: 30px;
    background-color: blue;
    opacity: 50%;
}

#two {
    position: absolute;
    left: 50px;
    bottom: 40px;
    background-color: orange;
    opacity: 50%;
}

#three {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: darkgreen;
    opacity: 50%;
}

#forth {
    background-color: purple;
    opacity: 50%;
    position: static;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

#navUrl {
    background-color: blue;
    overflow: auto;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.navLink {
    border: none;
    list-style: none;
    margin: 10px 15px;
    float: left;
}

.transition {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 100px;
    transition-property:all;
    transition-duration: 1s;
    transition-delay: 1s;
    transform-origin: 0% 0%;
    transition-timing-function:ease;
    transition: all 1s ease 1s;
}

.transition:hover {
    width: 20px;
    height: 20px;
    background-color: blue;
    transform: rotate(50deg);
}

/* // First Way */
@keyframes animaiton_name1 {
    from { background-color: red; }
    to { background-color: green; }
}

/* // Second Way */
@keyframes animaiton_name2 {
    0% { background-color: red; }
    50% { background-color: green; transform: rotate(90deg);}
    100% { background-color: yellow; }
}

#animation {
    width: 100px;
    height: 100px;
    background-color: green;
    margin: 100px;
    animation-name: animaiton_name2;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:infinite;
    animation-direction: alternate-reverse;
}


.general {
    column-count: 3;
    column-gap: 20px;
    column-rule: 2px solid red;
    padding: 10px;
    column-width: 250px;
}

.general h1 {
    column-span: all;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}