#text1 {
    font-weight: regular;
    font-size: 50px;
    font-style:italic;
    font-variant:small-caps;
}

.text {
    width: 50%;
    height: 300px;
    border: 2px solid red;
    overflow-x: hidden;
    overflow-y: scroll;
    resize: both;
}

ul {
    list-style-type:number;
}

ol {
    /* list-style-image: url("../factwithadil.png"); */
}

li {
    border: 2px solid red;
    list-style-position: inside;
}

table {
    border: 1px solid black;
    /* border-collapse:collapse; */
    border-spacing: 5px;
    empty-cells: hide;
    width: 500px;
    table-layout: fixed;
}

th {
    border: 1px solid black;
    margin: 10px;
}

td {
    border: 1px solid black;
    margin: 10px;
}

.pesudoElement::before {
    content: url(../factwithadil.png);
}

img {
    width: 100px;
}

.pesudoElement::after {
    content: "This is dynamically generate text from CSS.";
}

::selection {
    color: red;
    background-color: black;
}

.display {
    border: 2px solid black;
    padding: 10px;
}

.display h1 {
    border: 2px solid red;
    width: 200px;
    height: 200px;
    display: inline-block;
    text-align: center;
    margin: auto;
}

.displayProperties {
    margin: 10px;
    padding: 10px;
    border: 2px dashed red;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 200px;
    width: 500px;
    position: relative;
}

.displayProperties div {
    width: 100px;
    height: 100px;
    margin: 5px;
    display: inline-block;
    border: 2px solid red;
}

#one {
    position: relative;
    /* left: 20px; */
    top: 30px;
    background-color: blue;
    opacity: 50%;
}

#two {
    position: absolute;
    left: 50px;
    bottom: 40px;
    background-color: orange;
    opacity: 50%;
}

#three {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: darkgreen;
    opacity: 50%;
}

#forth {
    background-color: purple;
    opacity: 50%;
    position: static;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

#navUrl {
    background-color: blue;
    overflow: auto;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.navLink {
    border: none;
    list-style: none;
    margin: 10px 15px;
    float: left;
}

.transition {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 100px;
    transition-property:all;
    transition-duration: 1s;
    transition-delay: 1s;
    transform-origin: 0% 0%;
    transition-timing-function:ease;
    transition: all 1s ease 1s;
}

.transition:hover {
    width: 20px;
    height: 20px;
    background-color: blue;
    transform: rotate(50deg);
}

/* // First Way */
@keyframes animaiton_name1 {
    from { background-color: red; }
    to { background-color: green; }
}

/* // Second Way */
@keyframes animaiton_name2 {
    0% { background-color: red; }
    50% { background-color: green; transform: rotate(90deg);}
    100% { background-color: yellow; }
}

#animation {
    width: 100px;
    height: 100px;
    background-color: green;
    margin: 100px;
    animation-name: animaiton_name2;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:infinite;
    animation-direction: alternate-reverse;
}


.general {
    column-count: 3;
    column-gap: 20px;
    column-rule: 2px solid red;
    padding: 10px;
    column-width: 250px;
}

.general h1 {
    column-span: all;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}


/* FLEX-BOX */

.flex-box-container {
    margin-top: 50px;
    height: 1000px;
    background-color: grey;
    display: flex;

    /* flex-direction: row;
    flex-wrap:wrap-reverse; */
    /* Short-Hand */
    flex-flow: row nowrap;

    justify-content: center;

    align-items:center;

    align-content: center;
}

.flex-box-childern {
    /* width: 100px; */
    /* height: 100px; */
    margin: 5px;
    padding: 5px;
}

#One {
    background-color: red;
    flex-shrink: 10;
    flex-grow: 1;
    flex-basis: 30px;
    align-self: flex-start;
}
#Two {
    background-color: blue;
    flex-grow: 2;
    flex-shrink: 2;
    align-self: stretch;
}
#Three {
    background-color: green;
    flex-grow: 1;
    flex-shrink: 2;
    align-self: flex-end;
}
#Forth {
    background-color: orange;
    flex-grow: 2;
    flex-shrink: 1;
    align-self: baseline;
}


.grid-container {
    margin: 40px;
    padding: 20px;
    height: 500px;
    background-color: yellow;
    display: grid;
    grid-template-columns: 100px 150px 100px;
    grid-template-rows: auto 100px 130px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.grid-items {
    padding: 5px;
    /* margin: 5px; */
    text-align: center;
    font-size: 40px;
}

#g1 {
    background-color: red;
}
#g2 {
    background-color: blue;
}
#g3 {
    background-color: orange;
}
#g4 {
    background-color: green;
    /* grid-row-start: 2;
    grid-row-end: 4; */
    grid-row: 2/4;
}
#g5 {
    background-color: crimson;
    /* grid-column-start: 2;
    grid-column-end: 4; */
    grid-column: 2 /span 2;
}
#g6 {
    background-color: cornsilk;
    /* grid-area: 3/2/5/4; */
    grid-area: 3/2/span 2/span 2;
}
#g7 {
    background-color: indianred;
}
#g8 {
    background-color: orchid;
}
#g9 {
    background-color: lawngreen;
}

.grid-layout {
    margin: 40px;
    padding: 20px;
    background-color: yellow;
    display: grid;
    grid-template-areas:
     "header header header header header header"
     "menu main main main right right"
     "menu footer footer footer footer footer" ;
}

.grid-lay {
    padding: 30px;
    margin: 5px;
}

#header {
    background-color: red;
    grid-area: header;
}
#menu {
    background-color: blue;
    grid-area: menu;
}
#main {
    background-color: orange;
    grid-area: main;
}
#right {
    background-color: green;
    grid-area: right;
}
#footer {
    background-color: crimson;
    grid-area: footer;
}